body {
    background-color:rgb(20,20,20);
    color:rgb(190, 255, 255);
}
a {
    color:rgb(150, 150, 255);
}

a:visited {
    color:rgb(130, 150, 255);
}

input {
    background-color: rgb(220, 220, 220);
}

ul.vselector {
    width:20%;
    padding-left:2%;
    float:left;
    height:80%;
    overflow-y:scroll;
}

ul.sitemap {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;

}

ul.sitemap li {
    float: left;
    display: block;
    text-align: center;
    padding: 0.5em;
}
ul.sitemap li:hover {
    background-color:rgb(40,40,40);
}
ul.sitemap li a {
    text-decoration: none;
}
.singleViewer {
    width:75%;
    float:left;
}

.singleViewer video {
    width:100%;
}
.tiledViewer {
    float:left;
    width:30%;
    height:40vh;
    padding:1%;
}
.tiledViewer video {
    width:100%;
}

.dateSwitch {
    float:left;
}

.video_viewport {
    width:100%;
    overflow:hidden;
    position:relative;
    margin-left:auto;
    margin-right:auto;

}

.video_wrapper {
    position:relative;
    touch-action:none;
}

.hidden {
    visibility:hidden;
    display:none;
}

.vcontrol {
    height:32px;
    width:100%;
    position:absolute;
    bottom:0px;
    background: rgba(255, 255, 255, 0.3);
    color:black;
}


.progress, .progress * {
    height:10%;
    width:100%;
    background-color: rgb(255, 255, 255);
    float:left;
    padding:0px;
    margin:0px;
}

.progress * {
    height:100%;
    position:relative;
}
.progress .gap {
    background-color:rgb(255, 0, 0);
}

.progress .future {
    background-color:rgb(0, 0, 0);
}

.progress .cursor {
    position:absolute;
    width:45px;
    height:100%;
    bottom:95%;
    background-color:rgba(0,0,0,0);
    background-image:url("2x-bottom-cursor.png");
    background-repeat:no-repeat;
    background-position:bottom;
    background-size:auto;
}

.vcontrol > div {
    float:left;
}

.vcontrol .volume, .vcontrol .fullscreen {
    float:right;
}

.fullscreen > * {
    pointer-events:none;
}
.license {
    font-family: monospace;
    overflow-vertical:scroll;
}

/* System Setting boxes */
ul.settings {
    list-style-type: none;
    margin:0;
    padding:0;
    width:60em;
}

ul.settings input[type=text] {
    margin:0;
    padding:0;
    width:90%;
}

ul.settings li  {
    columns:3;
    padding-top:1px;
    padding-bottom:1px;
    column-rule-width:1px;
    column-rule-color:rgb(200,200,200);
    column-rule-style:solid;
    border-width:1px;
    border-color:rgb(200,200,200);
    border-style:solid;
}

.setting_default input, .setting_default select {
    background-color:rgb(240, 180, 180);
}
.setting_system input, .setting_system select {
    background-color:rgb(240, 240, 180);
}
.setting_camera input, .setting_camera select {
    background-color:rgb(180, 240, 180);
}

/*
* Mobile Website
*/
@media (max-width: 1023px) {
    .tiledViewer {
        width:100%;
    }
    .singleViewer{
        width:100%;
    }
}
