ul.vselector {
    width:20%;
    padding-left:2%;
    float:left;
    height:80%;
    overflow-y:scroll;
}


.singleViewer {
    width:75%;
    float:left;
}

.singleViewer video {
    width:100%;
}
.tiledViewer {
    float:left;
    width:30%;
    height:40vh;
    padding:1%;
}
.tiledViewer video {
    width:90%;
}

.dateSwitch {
    float:left;
}

.video_viewport {
    width:100%;
    overflow:hidden;
    position:relative;
    height:90%;

}

.video_wrapper {
    position:relative;
}
