[submodule "web/inc/external/smarty.git"]
	path = external/smarty.git
	url = https://github.com/smarty-php/smarty.git
[submodule "external/breeze-icons.git"]
	path = external/breeze-icons.git
	url = https://github.com/KDE/breeze-icons.git
