*.o
*~
\#*
*\#
.\#*
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
chiton
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
config/chiton.cfg
vids/
gmon.out
*.gcno
*.gcda
web/inc/tpl_cache/*.php
web/inc/tpl_compile/*.php
web/inc/config.php
web/vids
web/inc/external/smarty
web/static/breeze
web/static/*-bottom-cursor.png
web/static/hls.*
m4/lt~obsolete.m4
m4/ltversion.m4
m4/ltsugar.m4
m4/libtool.m4
m4/ltoptions.m4
LICENSE.smarty
LICENSE.hls
LICENSE.breeze-icons
LICENSE.pinch-zoom
chiton-*.tar.*
chiton-*.zip
chiton-git
chiton-install
packaging/scripts/rc.chiton
packaging/scripts/chiton.service
dist-version
config_build.hpp
stamp-h1
packaging/debian/changelog
packaging/debian/control
packaging/debian/copyright
packaging/debian/rules
packaging/debian/prerm
packaging/debian/postrm
packaging/debian/preinst
packaging/debian/postinst
packaging/debian/chiton.config
packaging/slackware/doinst.sh
packaging/slackware/douninst.sh
packaging/slackware/chiton.SlackBuild
release
web/inc/configdb.php
web/static/pinch-zoom-min.js
external/npm/LICENSE.*
external/npm/debian.license.in
external/npm/license-meta.csv
external/npm/node_modules