*.o
*~
\#*
*\#
.\#*
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
chiton
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
config/chiton.cfg
vids/
gmon.out
*.gcno
*.gcda
web/inc/tpl_cache/*.php
web/inc/tpl_compile/*.php
web/vids
web/inc/external/smarty
web/static/breeze
web/static/*-bottom-cursor.png
web/static/hls.*
m4/*.m4
LICENSE.smarty
LICENSE.hls
LICENSE.breeze-icons
