#!/bin/sh
# config maintainer script for chiton
set -e
#set -x
#export DEBCONF_DEBUG=developer

#dbc_debug=1

# source debconf stuff
if [ -f /usr/share/debconf/confmodule ]; then
    . /usr/share/debconf/confmodule
fi
# source dbconfig-common shell library, and call the hook function
if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then
    . /usr/share/dbconfig-common/dpkg/config.mysql
    db_input medium chiton/webdir || true
    dbc_go chiton "$@" || true
fi
